<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <error-page>
        <error-code>404</error-code>
        <location>/error/404</location>
    </error-page>
    <ejb-local-ref>
        <ejb-ref-name>UsersFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.nosify.session_beans.UsersFacadeLocal</local>
        <ejb-link>EnterpriseAppAssignment-ejb.jar#UsersFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>OrdersFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.nosify.session_beans.OrdersFacadeLocal</local>
        <ejb-link>EnterpriseAppAssignment-ejb.jar#OrdersFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ProductsFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.nosify.session_beans.ProductsFacadeLocal</local>
        <ejb-link>EnterpriseAppAssignment-ejb.jar#ProductsFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CategoriesFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.nosify.session_beans.CategoriesFacadeLocal</local>
        <ejb-link>EnterpriseAppAssignment-ejb.jar#CategoriesFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>UsersFacade1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.nosify.session_beans.UsersFacadeLocal</local>
        <ejb-link>EnterpriseAppAssignment-ejb.jar#UsersFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>OrdersFacade1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.nosify.session_beans.OrdersFacadeLocal</local>
        <ejb-link>EnterpriseAppAssignment-ejb.jar#OrdersFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>OrderDetailsFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.nosify.session_beans.OrderDetailsFacadeLocal</local>
        <ejb-link>EnterpriseAppAssignment-ejb.jar#OrderDetailsFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ProductsFacade1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.nosify.session_beans.ProductsFacadeLocal</local>
        <ejb-link>EnterpriseAppAssignment-ejb.jar#ProductsFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ProductsFacade2</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.nosify.session_beans.ProductsFacadeLocal</local>
        <ejb-link>EnterpriseAppAssignment-ejb.jar#ProductsFacade</ejb-link>
    </ejb-local-ref>
</web-app>
